@charset "utf-8";

.area{
	width:600px;
}

h2{
	color:#5f5d57;
	font-size:1.4em;
	margin:20px 0 15px 10px;
	padding:0 0 0 15px;
	border-left: 10px solid #5f5d57;
}
h3.form_h3{
	color:#fff;
	font-size: 1.1em;
	margin:30px 10px 25px 10px;
	padding:15px;
	background-color: #564d42;
}

p.error{
	color:#f00;
}

#section_1 ul{
	width:500px;
	margin:0 auto;
	text-align: center;
}

#section_1 ul li{
	padding:5px;
}

#section_1 ul .ya{
	padding:15px 10px;

}

.item_active{
	color:#f00;
}

.form_box .name{
	margin:10px 15px;
	width:450px;
	height:30px;
	font-size:0.9em;
}

.form_box .kname{
	margin:10px 15px;
	width:450px;
	height:30px;
	font-size:0.9em;
}

.form_box .sex{
	margin:10px;
	padding:10px;
	background-color: #fff;
}

.form_box .sex span{
	padding:0 20px 0 15px;
	font-size:0.9em;
}

.form_box .adr{
	margin:10px;
	padding:5px;
	font-size:0.9em;
}

.form_box .adrbtn{
	width:70px;
	height:30px;
	background-color: #5f5d57;
	color:#fff;
	font-size:0.9em;
	border-radius: 5px;
	border:3px solid #5f5d57;
	-webkit-transition:color 0.3s linear,background-color 0.3s linear;
	-moz-transition:color 0.3s linear,background-color 0.3s linear;
	-ms-transition:color 0.3s linear,background-color 0.3s linear;
	-o-transition:color 0.3s linear,background-color 0.3s linear;
	transition:color 0.3s linear,background-color 0.3s linear;
}

.form_box .adrbtn:hover{
	color:#5f5d57;
	background-color: #fff;
}

.form_box .adr_de{
	margin:10px;
	width:955px;
	padding:10px;
	font-size:0.9em;
}

.form_box .kome{
	margin:0 0 0 11px;
}

.form_box #nen{
	margin:10px;
	width:90px;
	height:30px;
	font-size:0.9em;
}

.form_box #tuki{
	margin:10px;
	width:90px;
	height:30px;
	font-size:0.9em;
}

.form_box #hi{
	margin:10px;
	width:90px;
	height:30px;
	font-size:0.9em;
}

.form_box #tel{
	margin:10px;
	width:200px;
	height:30px;
	font-size:0.9em;
}

.form_box #address{
	margin:10px;
	width:955px;
	height:30px;
	font-size:0.9em;
}

.form_box .password{
	margin:10px;
	width:955px;
	height:30px;
	font-size:0.9em;
}

.form_item span{
	font-weight: bold;
	color:#f00;
}

#submit_box #sub{
	width:440px;
	height:50px;
	margin:30px 280px 50px;
	background-color: #5f5d57;
	color:#fff;
	font-size:0.9em;
	border-radius: 5px;
	border:3px solid #5f5d57;
	-webkit-transition:color 0.3s linear,background-color 0.3s linear;
	-moz-transition:color 0.3s linear,background-color 0.3s linear;
	-ms-transition:color 0.3s linear,background-color 0.3s linear;
	-o-transition:color 0.3s linear,background-color 0.3s linear;
	transition:color 0.3s linear,background-color 0.3s linear;
}

#submit_box #sub:hover{
	color:#5f5d57;
	background-color: #fff;
}


/************************************
***dogs.phpの内容確認用
*************************************/

/*回転*/

.h2title{
	color:#5f5d57;
	font-size:1.4em;
	margin:20px 0 15px 10px;
	padding:10px 10px 10px 15px;
	border-left: 10px solid #5f5d57;
	border-bottom: 2px solid #5f5d57;
	background-color: #fff;
	position: relative;
	cursor: pointer;
}
.h2title span{
	color:#5f5d57;
	position: absolute;
	right:20px;
}

.form_box-min h3.form_h3-min{
	clear:both;
	color:#fff;
	font-size: 1.1em;
	width: 150px;
	margin:5px 5px 5px 30px;
    padding: 10px 10px 10px 30px;
    background-color: #564d42;
}

.form_box-min .checktext{
	width: 700px;
	margin:5px 5px 5px 20px;
    padding: 10px 10px 10px 15px;
    background-color: #fff;
    border:1px solid #564d42;
}

.inputform input{
	width:500px;
	height:30px;
	margin:0 50px;
	font-size: 0.9em;
}

.inputform .sex{
	margin:10px;
	padding:10px;
	background-color: #fff;
}

.inputform input[type="radio"]{
	width:auto;
	height:auto;
	margin:0 10px;
}

.form_box input[type="radio"] span{

	font-size:0.9em;
}

.inputform input.min{
	width:400px;
	height:30px;
	margin:0 5px 0 50px;
	font-size: 0.9em;
}

.inputform input.flL{
	width: auto;
	height:30px;
	margin:80px 20px;
	font-size: 0.9em;
}

.inputform select{
	height:30px;
	margin:0 20px;
	font-size: 0.9em;
}

.inputform select#ken{
	width:100px;
	height:30px;
	margin:0 50px;
	font-size: 0.9em;
}

.inputform .waku{
	width:200px;
	height:200px;
	line-height: 200px;
	margin:0 0 15px 30px;
	background: #5f5d57;
	color:#fff;
}

.inputform p{
	margin:5px 30px;
}

.inputform textarea{
	width:500px;
	height:100px;
	margin:0 50px;
	font-size: 0.9em;
}

.inputform .question1{
	background-color: #fff;
	margin:15px;
	padding:10px 5px 2px;
}


.inputform .question1 label{
	line-height: 30px;
}

.inputform .question1 input{
	width:20px;
	height: 20px;
	margin:0 15px;
	background-color: #fff;
}

.inputform .question1 span{
	line-height: 20px;
	float: right;
}

.hosoku{
	margin:25px 0 0 0;
}

#dog_sub{
	margin:20px 100px 50px;
}

#dog_sub .post{
	width:350px;
	height:50px;
	margin: 10px;
	background-color: #5f5d57;
	color:#fff;
	font-size:0.9em;
	border-radius: 5px;
	border:3px solid #5f5d57;
	-webkit-transition:color 0.3s linear,background-color 0.3s linear;
	-moz-transition:color 0.3s linear,background-color 0.3s linear;
	-ms-transition:color 0.3s linear,background-color 0.3s linear;
	-o-transition:color 0.3s linear,background-color 0.3s linear;
	transition:color 0.3s linear,background-color 0.3s linear;
}

#dog_sub .post:hover{
	color:#5f5d57;
	background-color: #fff;
}

/********************************
**check.phpの内容
*********************************/

#check_form h3{
	color:#fff;
	font-size: 1.1em;
	margin:30px 10px 25px 10px;
	padding:15px;
	background-color: #564d42;
}

#check_form p{
	width:400px;
	margin:0 50px;
	font-size: 0.9em;
}

#check_form img{
	width: 200px;
	height:200px;
	border:1px solid #564d42;
}

#check_form .post{
	width:140px;
	height:50px;
	margin: 40px 50px 10px 100px;
	background-color: #5f5d57;
	color:#fff;
	font-size:0.9em;
	border-radius: 5px;
	border:3px solid #5f5d57;
	-webkit-transition:color 0.3s linear,background-color 0.3s linear;
	-moz-transition:color 0.3s linear,background-color 0.3s linear;
	-ms-transition:color 0.3s linear,background-color 0.3s linear;
	-o-transition:color 0.3s linear,background-color 0.3s linear;
	transition:color 0.3s linear,background-color 0.3s linear;
}

#check_form .sub01{
	margin:40px 100px 10px 50px;
}

#check_form .post:hover{
	color:#5f5d57;
	background-color: #fff;
}

/************************* fileのクラス */
.my-file-input {
  display: inline-block;
  padding: 5px 15px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
  text-overflow: ellipsis;
  background-color: #9b9689;
  color: white;
  box-shadow: #888 0px 5px 1px;
  cursor: pointer;
	margin: 75px 25px;
	height: 50px;
	line-height: 40px;
	box-sizing: border-box;
	border-radius: 50px;
	-webkit-transition:box-shadow 0.3s linear;
	-moz-transition:box-shadow 0.3s linear;
	-ms-transition:box-shadow 0.3s linear;
	-o-transition:box-shadow 0.3s linear;
	transition:box-shadow 0.3s linear;
}
.my-file-input:hover {
  box-shadow: #888 1px 1px 5px;
}
.my-file-input:active {
  box-shadow: #888 1px 1px 1px;
  position: relative;
  top: 1px; left: 1px;
}
.my-file-input input#test3 {
  display: none;
}


/********************************
**finish.phpの内容
*********************************/

#finish{
	width:500px;
	margin:0 auto;
}

#finish h2 {
    color: #5f5d57;
    font-size: 1.4em;
    margin: 20px 0 15px 10px;
    padding: 20px 20px 20px 30px;
    border-left: 10px solid #5f5d57;
		background: #fff;
}

#finish .text{
	margin:15px 30px;
	font-size:1.2em;
	line-height:1.4;
	font-weight: bold;
}

#finish .waku{
	position: relative;
	width:400px;
	height:50px;
	line-height: 50px;
	margin:30px auto 15px;
	background-color: #fff;
	border:5px solid #5f5d57;
	border-radius: 5px;
	-webkit-transition:color 0.3s linear,background-color 0.3s linear;
	-moz-transition:color 0.3s linear,background-color 0.3s linear;
	-ms-transition:color 0.3s linear,background-color 0.3s linear;
	-o-transition:color 0.3s linear,background-color 0.3s linear;
	transition:color 0.3s linear,background-color 0.3s linear;
}

#finish .waku:hover{
	color:#fff;
	background-color: #5f5d57;
}

#finish .waku span{
	position: absolute;
	right:15%;
	font-size:1.3em;
	font-weight: bold;
	z-index: 9;
}

#finish .waku a{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	color:#5f5d57;
	font-weight: bold;
	z-index: 10;
	-webkit-transition:color 0.3s linear;
	-moz-transition:color 0.3s linear;
	-ms-transition:color 0.3s linear;
	-o-transition:color 0.3s linear;
	transition:color 0.3s linear;
}

#finish .waku a:hover{
	color:#fff;
}

#finish .redtext{
	font-size: 0.8em;
	font-weight: bold;
}
